$footer_back: #0d0a46;
$width_sait: 1200px;

body{
    font-family: sans-serif;
    display: block;
    margin: 8px;
}

.container{
    width: $width_sait;  
}

.top{
    background-color: whitesmoke;
}

.top-flex{
    display: flex;
    justify-content: space-between;
}

// .text-muted{
//     font-size: 20px;
//     line-height: 1.5;
//     color: #0d0a46;
//     font-weight: 400;
    
// }

.h1-head{
    font-size: 57px;
    line-height: 1.2;
    color: #0d0a46;
    font-weight: 700;
}

.head{
    display: flex;
    justify-content: center;
    align-content: space-between;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
}

.head-title{
    width: 50%;
}

.head-text{
    width: 70%;
    padding-bottom: 30px;
}

.card{
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
}

.block{
    background-color: whitesmoke;
    padding: 90px;
}

.block-2{
    padding: 100px 0;
}

.box-content{
    width: 100%;
}


.footer{
    padding: 100px;
    background-color: $footer_back;
}

.list-group-item {
    background-color: none;
}

.table{
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.title-footer{
    font-size: 24px;
    line-height: 28px;
}
